# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
.env
.venv
ENV/
env/
venv/

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# VS Code
.vscode/

# Data artifacts
data/normalized_*.csv
data/persisted/

# Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# macOS
.DS_Store
