# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
ENV/
env/
venv/

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# VS Code
.vscode/

# Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# macOS
.DS_Store
